%list {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}